<?xml version="1.0" encoding="ISO-8859-1" ?>
<config xmlns="urn:java:de.pangaea.metadataportal.config.Config" xmlns:cfg="urn:java:de.pangaea.metadataportal.config.Config">
	<metadata xmlns:dif="http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/" xmlns:ib="urn:java:de.pangaea.metadataportal.harvester.IndexBuilder">
		<variables>
			<variable name="startdate">/dif:DIF/dif:Temporal_Coverage/dif:Start_Date</variable>
			<variable name="enddate">/dif:DIF/dif:Temporal_Coverage/dif:Stop_Date</variable>
			<variable-template name="boost" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
				<xsl:choose>
					<xsl:when test="/dif:DIF/dif:Parent_DIF">1.0</xsl:when>
					<xsl:otherwise>5.0</xsl:otherwise>
				</xsl:choose>
			</variable-template>
		</variables>
		<filters default="accept">
			<!-- we want to remove all documents harvested into index 'pangaea-carboocean' that are from project 'JGOFS' -->
			<deny>$ib:index='pangaea-carboocean' and /dif:DIF/dif:Project/dif:Short_Name[contains(.,'JGOFS')]</deny>
			<!-- we want to remove all documents with wrong namespace -->
			<deny>namespace-uri(/*)!='http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/'</deny>
			<!--
				We want to remove all duplicates; this is the simple approach: it checks if every harvested
				identifier is in no other currently existing index.
				Because of this every NEW document will stay in the index that was harvested first.
				You can create more complicated dependencies by using the $ib:index variable and also IDs
				as string parameters given to the ib:isDocIdentifierUnique() function.
			-->
			<deny>not(ib:isDocIdentifierUnique())</deny>
		</filters>
		<fields>
			<field name="citation" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Data_Set_Citation|/dif:DIF/dif:Entry_Title|/dif:DIF/dif:Entry_ID</field>
			<field name="investigator" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Personnel[contains(dif:Role,'nvestigat')]</field>
			<field name="parameter" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Parameters</field>
			<field name="method" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Sensor_Name</field>
			<field name="project" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Project</field>
			<field name="projectFull" datatype="string" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Project/dif:Short_Name</field>
			<field name="minLatitude" datatype="number" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Spatial_Coverage/dif:Southernmost_Latitude</field>
			<field name="maxLatitude" datatype="number" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Spatial_Coverage/dif:Northernmost_Latitude</field>
			<field name="minLongitude" datatype="number" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Spatial_Coverage/dif:Westernmost_Longitude</field>
			<field name="maxLongitude" datatype="number" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Spatial_Coverage/dif:Easternmost_Longitude</field>
			<field name="minDateTime" datatype="dateTime" lucenestorage="true" luceneindexed="true" default="1900-01-01T00:00:00">$startdate</field>
			<field name="maxDateTime" datatype="dateTime" lucenestorage="true" luceneindexed="true" default="2038-12-31T23:59:59">$enddate</field>
			<field name="minMonth" datatype="number" lucenestorage="true" luceneindexed="true">substring-before(substring-after($startdate,'-'),'-')</field>
			<field name="maxMonth" datatype="number" lucenestorage="true" luceneindexed="true">substring-before(substring-after($enddate,'-'),'-')</field>
			<field name="dataCenter" datatype="tokenizedText" lucenestorage="false" luceneindexed="true">/dif:DIF/dif:Data_Center/dif:Data_Center_Name</field>
			<field name="dataCenterFull" datatype="string" lucenestorage="true" luceneindexed="true">/dif:DIF/dif:Data_Center/dif:Data_Center_Name/dif:Short_Name</field>
			<default>.</default>
		</fields>
		<documentBoost>number($boost)</documentBoost>
		<schema>
			<url>http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/dif_v9.4.xsd</url>
			<haltOnError>false</haltOnError>
		</schema>
    </metadata>
    <analyzer>
        <class>org.apache.lucene.analysis.standard.StandardAnalyzer</class>
        <importEnglishStopWords/>
        <addStopWords>
            latitude,longitude,elevation,depth,source,e-mail,north,south,east,west, 
            area,location,geocode,method,parameter
        </addStopWords>
    </analyzer>
    <indices>
        <index id="pangaea-carboocean">
            <displayName>PANGAEA datasets for CARBOOCEAN</displayName>
            <indexDir>./lucene-store/pangaea-carboocean</indexDir>
            <autoOptimize>true</autoOptimize>
            <validate>false</validate>
            <harvesterClass>de.pangaea.metadataportal.harvester.OAIHarvester</harvesterClass>
            <harvesterProperties>
                <baseUrl>http://ws.pangaea.de/oai/</baseUrl>
                <metadataPrefix>dif</metadataPrefix>
                <setSpec>CARBOOCEAN</setSpec>
            </harvesterProperties>
        </index>
        <index id="ifremer">
            <displayName>IFREMER datasets</displayName>
            <indexDir>./lucene-store/ifremer</indexDir>
            <autoOptimize>true</autoOptimize>
            <validate>true</validate>
            <harvesterClass>de.pangaea.metadataportal.harvester.OAIHarvester</harvesterClass>
            <harvesterProperties>
                <baseUrl>http://www.ifremer.fr/oai/provider</baseUrl>
                <metadataPrefix>dif</metadataPrefix>
            </harvesterProperties>
            <!--<transform>
                <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="./ns-convert.xslt"/>
            </transform>-->
        </index>
        <virtualIndex id="dataportal-carboocean">
            <displayName>CARBOOCEAN Dataportal</displayName>
            <threaded>true</threaded>
            <index ref="pangaea-carboocean"/>
            <index ref="ifremer"/>
        </virtualIndex>
    </indices>
    <globalHarvesterProperties>
    	<enableMemoryChecking>true</enableMemoryChecking>
    </globalHarvesterProperties>
    <search>
        <returnXML>true</returnXML>
        <returnStoredFields>true</returnStoredFields>
        <cacheMaxAge>300</cacheMaxAge>
        <cacheMaxSessions>10</cacheMaxSessions>
        <reloadIndexIfChangedAfter>60</reloadIndexIfChangedAfter>
    </search>
</config>